:root {
    --main-bg-color: #cecfd1;
  }
  

.view,body,html{
    height:100%;
    background-color: var(--main-bg-color);
}
/*
 .navbar{
    background-color: #0964a012 !important;
}

.page-footer,.top-nav-collapse{
    background-color:#1c2331
}


@media only screen and (max-width:768px){
    .navbar{
        background-color: #1575d412 !important;
    }
}  */